{% extends "things/base.html" %}

{% block title %}Thing List{% endblock %}

{% block content %}
<h1>Things</h1>
<a class="btn btn-primary mb-3" href="{% url 'things:thing_create' %}">Create New Thing</a>

<ul class="list-group">
    {% for thing in object_list %}
    <li class="list-group-item">
        <a href="{% url 'things:thing_detail' thing.pk %}">{{ thing.name }}</a>
    </li>
    {% empty %}
    <li class="list-group-item">No things yet.</li>
    {% endfor %}
</ul>
{% endblock content %}